* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
  }

  .page-wrapper {
    min-height: 100%;
  }

  /* HEADER */

  header {
    background-color: cornsilk;
    position: relative;
    width: 100%;
    left: 0;
}   

.headercontainer {
  background-color: cornsilk;
  width: 960px;
  height: 80px;
  margin: 0 auto;
}

/* BODY */

body {
   
    background-image: url('../images/grey_wash.png');
    height:100%;
}


#name {
  position: relative;
  float: left;
  background-color: #4d7992;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  text-align: center;
  color: cornsilk;
  height: 80px;
  width: 160px;
  margin: 0 auto;
  padding: 5px;
  top: 0;
 
}

/* MENU */

ul {
    position: relative;
    float: right;
    margin: 0 auto;
    list-style-type: none;
    margin: 0;
    padding: 9px;
    overflow: hidden;
    background-color: cornsilk;
  }
  
  li {
    float: right;
    border-right:1px solid #bbb;
  }

  li:first-child {
    border-right: none;
    
  }
  
  li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightgrey;
  }
  
  .active {
    background-color: #73a1c3;
    opacity: 80%;
    color: white;
  }
 
hr {
    color: darkgray;
    size:3px;
    width: 900px;
    align-self: center;

}

.about {
    position: relative;
    top: 15px;
    text-align: left;
    color: #4d7992;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.block {
    background-color: white;
    width: 960px;
    height: 750px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}



#image {
     float: left;
     width: 250px;
     height: 340px;
     margin-left: 30px;
     margin-right:20px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  p { 
    text-align: justify;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:gray;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    
  }
  
  .button {
    margin-left: 30px;
    background-color: #4d7992;
    border-radius: 8px;
    border: none;
    color: cornsilk;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
  }

  /* PORTFOLIO IMAGES BLOCK */

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px; 
  }
  

  .container {
    position: relative;
  }
  .text-block {
    
    position: relative;
    width: 300px;
    bottom: 0;
    background-color: black;
    opacity: 50%;
    
  }

  .image{
      width: 300px;
      height: 300px;

  }

/* CONTACT FORM*/

.container-contact-form {
  width: 900px;
  margin: auto;
  border-radius: 5px;
  background-color:  #f2f2f2;
  
  padding: 40px;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4d7992;
  color: cornsilk;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 28px;
  border-radius: 8px;
}

input[type=submit]:hover {
  background-color: #7498ad;
}


  /* FOOTER */

.footer {
  background: rgb(250, 245, 225);
  color:#4d7992;
  height: 50px;
  position: relative;
  text-align: center;
}

.footer .footer-bottom {
  position: absolute;
  width: 100%;
  border-top: 5px solid palevioletred;
  padding: 10px;
  font-size: 15px;
  
}
  